# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and coverage
*.log
.coverage
htmlcov/
.cache/
.pytest_cache/

# Jupyter notebooks
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store

# Gradio
.gradio/

# Downloaded models or vector DBs
model_cache/
vector_db/
products_vectorstore/

# Pickle files
*.pkl
